@tailwind base;
@tailwind components;
@tailwind utilities;

.initechNode {
  border: solid 3px rgb(167, 165, 47);
  border-radius: 3px;
  padding: 5px;
  /* width: 100%; */
  min-width: 150px;
  max-width: 300px;
  display: inline-block;
  margin: 0 10px;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px rgb(255, 251, 0);
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px rgb(255, 251, 0);
}

.reactOrgChart .nodeLineBorderTop {
  border-top: solid 2px #46e676 !important;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: 2px solid #46e676 !important;
}