@tailwind base;
@tailwind components;
@tailwind utilities;


.rd3t-node {
  stroke: #FF536B !important;
  fill: #f8354f !important;
}

circle {
  r: 30 !important;
}

.rd3t-leaf-node {
  stroke: #FF536B !important;
}

.rd3t-link {
  stroke: #0f633c !important;
}

.rd3t-label {
  fill: #ffffff !important;
}

/* .initechNode {
  border: solid 3px rgb(167, 165, 47);
  border-radius: 3px;
  padding: 5px;
  min-width: 150px;
  max-width: 300px;
  display: inline-block;
  overflow: auto;
  margin: 0px 10px;
} */


/* #initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px rgb(255, 251, 0);
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px rgb(255, 251, 0);
}

.reactOrgChart .nodeLineBorderTop {
  border-top: solid 2px #46e676 !important;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: 2px solid #46e676 !important;
} */